{
    "name": "Android Res Export",
    "description": "{{description}}",
    "author": "Ashung Hung",
    "email": "Ashung.hung@gmail.com",
    "homepage": "https://github.com/Ashung/Android_Res_Export",
    "appcast": "https://ashung.github.io/Android_Res_Export/appcast.xml",
    "version": "2.2.0",
    "identifier": "com.ashung.hung.android_res_export",
    "compatibleVersion": "3",
    "bundleVersion": "1",
    "language": "en",
    "commands": [
        {
            "handlers": {
                "actions": {
                    "OpenDocument": "onOpenDocument"
                }
            },
            "script": "utilities/checking_language.cocoascript"
        },
        {
            "name": "{{new_png_asset}}",
            "identifier": "new_png_asset",
            "script": "new/new_png_asset.cocoascript"
        },
        {
            "name": "{{new_nine_patch_asset}}",
            "identifier": "new_nine_patch_asset",
            "script": "new/new_nine_patch_asset.cocoascript"
        },
        {
            "name": "{{new_vector_drawable_asset}}",
            "identifier": "new_vector_drawable_asset",
            "script": "new/new_vector_drawable_asset.cocoascript"
        },
        {
            "name": "{{new_app_icon_legacy}}",
            "identifier": "new_app_icon_legacy",
            "handler": "newAppIconTemplateLegacy",
            "script": "new/new_app_icon.cocoascript"
        },
        {
            "name": "{{new_app_icon}}",
            "identifier": "new_app_icon",
            "handler": "newAppIconTemplate",
            "script": "new/new_app_icon.cocoascript"
        },
        {
            "name": "{{export_png_assets}}",
            "identifier": "export_png_assets",
            "script": "export/export_png_assets.cocoascript"
        },
        {
            "name": "{{export_vector_drawable}}",
            "identifier": "export_vector_drawable",
            "script": "export/export_vector_drawable.cocoascript"
        },
        {
            "name": "{{export_nine_patch}}",
            "identifier": "export_nine_patch",
            "script": "export/export_nine_patch.cocoascript"
        },
        {
            "name": "{{export_app_icon}}",
            "identifier": "export_app_icon",
            "script": "export/export_app_icon.cocoascript"
        },
        {
            "name": "{{export_shape_xml}}",
            "identifier": "export_shape_xml",
            "script": "export/export_shape_xml.cocoascript"
        },
        {
            "name": "{{view_code}}",
            "identifier": "view_code",
            "script": "code/window.cocoascript"
        },
        {
            "name": "{{add_system_icon}}",
            "identifier": "add_system_icon",
            "script": "utilities/add_system_icon.cocoascript"
        },
        {
            "name": "{{asset_name_validator}}",
            "identifier": "asset_name_validator",
            "script": "utilities/asset_name_validator.cocoascript"
        },
        {
            "name": "{{fixes_slice_name}}",
            "identifier": "fixes_slice_name",
            "script": "utilities/fixes_slice_name.cocoascript"
        },
        {
            "name": "{{preferences}}",
            "identifier": "preferences",
            "script": "utilities/preferences.cocoascript"
        },
        {
            "name": "{{web_site}}",
            "identifier": "web_site",
            "handler": "website",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "name": "{{report_issues}}",
            "identifier": "report_issues",
            "handler": "reportIssues",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "name": "{{change_language}}",
            "identifier": "change_language",
            "script": "utilities/change_language.cocoascript"
        },
        {
            "name": "{{update}}",
            "identifier": "update",
            "script": "utilities/update.cocoascript"
        },
        {
            "name": "{{donate}}",
            "identifier": "donate",
            "handler": "donate",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "identifier": "reload_plugins",
            "script": "utilities/reload_plugins.cocoascript"
        }
    ],
    "menu": {
        "isRoot": false,
        "title": "Android Res Export",
        "items": [
            "new_png_asset",
            "new_nine_patch_asset",
            "new_vector_drawable_asset",
            "new_app_icon",
            "new_app_icon_legacy",
            "-",
            "export_png_assets",
            "export_nine_patch",
            "export_vector_drawable",
            "export_app_icon",
            "export_shape_xml",
            "-",
            "view_code",
            "-",
            {
                "title": "{{utilities}}",
                "items": [
                    "add_system_icon",
                    "asset_name_validator",
                    "fixes_slice_name"
                ]
            },
            "-",
            "preferences",
            "-",
            {
                "title": "{{help}}",
                "items": [
                    "web_site",
                    "report_issues",
                    "update",
                    "-",
                    "change_language",
                    "-",
                    "donate"
                ]
            }
        ]
    }
}
