{
    "name": "Android Res Export",
    "description": "{{description}}",
    "author": "Ashung Hung",
    "email": "Ashung.hung@gmail.com",
    "homepage": "https://github.com/Ashung/Android_Res_Export",
    "manifestURL": "https://github.com/Ashung/Android_Res_Export/raw/master/Android_Res_Export.sketchplugin/Contents/Sketch/manifest.json",
    "downloadURL": "https://github.com/Ashung/Android_Res_Export/archive/master.zip",
    "version": "2.0.0",
    "identifier": "com.ashung.hung.android_res_export",
    "compatibleVersion": "3",
    "bundleVersion": "1",
    "commands": [
        {
            "name": "{{new_png_asset}}",
            "identifier": "new_png_asset",
            "script": "new/new_png_asset.cocoascript"
        },
        {
            "name": "{{new_nine_patch_asset}}",
            "identifier": "new_nine_patch_asset",
            "script": "new/new_nine_patch_asset.cocoascript"
        },
        {
            "name": "{{new_vector_drawable_asset}}",
            "identifier": "new_vector_drawable_asset",
            "script": "new/new_vector_drawable_asset.cocoascript"
        },
        {
            "name": "{{new_app_icon_asset}}",
            "identifier": "new_app_icon_asset",
            "script": "new/new_app_icon_asset.cocoascript"
        },

        {
            "name": "{{export_assets}}",
            "identifier": "export_assets",
            "script": "export/export_assets.cocoascript"
        },
        {
            "name": "{{export_vector_drawable}}",
            "identifier": "export_vector_drawable",
            "script": "export/export_vector_drawable.cocoascript"
        },
        {
            "name": "{{export_nine_patch}}",
            "identifier": "export_nine_patch",
            "script": "export/export_nine_patch.cocoascript"
        },
        {
            "name": "{{export_app_icon}}",
            "identifier": "export_app_icon",
            "script": "export/export_app_icon.cocoascript"
        },
        {
            "name": "{{asset_name_validator}}",
            "identifier": "asset_name_validator",
            "script": "export/asset_name_validator.cocoascript"
        },
        {
            "name": "{{web_site}}",
            "identifier": "web_site",
            "handler": "website",
            "script": "Utilities/utilities.cocoascript"
        },
        {
            "name": "{{report_issues}}",
            "identifier": "report_issues",
            "handler": "reportIssues",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "name": "{{change_language}}",
            "identifier": "change_language",
            "script": "utilities/change_language.cocoascript"
        },
        {
            "name": "{{update}}",
            "identifier": "update",
            "script": "utilities/update.cocoascript"
        },
        {
            "name": "{{donate_via_paypal}}",
            "identifier": "donate_via_paypal",
            "handler": "donateViaPaypal",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "name": "{{donate_via_wechat}}",
            "identifier": "donate_via_wechat",
            "handler": "donateViaWechat",
            "script": "utilities/utilities.cocoascript"
        },
        {
            "name": "{{donate_via_alipay}}",
            "identifier": "donate_via_alipay",
            "handler": "donateViaAlipay",
            "script": "utilities/utilities.cocoascript"
        }
    ],
    "menu": {
        "isRoot": false,
        "title": "Android Res Export",
        "items": [
            "new_png_asset",
            "new_nine_patch_asset",
            "new_vector_drawable_asset",
            "new_app_icon_asset",
            "-",
            "export_assets",
            "export_nine_patch",
            "export_vector_drawable",
            "export_app_icon",
            "-",
            "asset_name_validator",
            "-",
            {
                "title": "{{help}}",
                "items": [
                    "web_site",
                    "report_issues",
                    "-",
                    "update",
                    "-",
                    "change_language",
                    "-",
                    "donate_via_paypal",
                    "donate_via_wechat",
                    "donate_via_alipay"
                ]
            }
        ]
    }
}
